* {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
    font-size: 86px;

}
.result-bar {
    display: grid;
    flex-direction: column;
    place-items: center;
    /* justify-content: center; */
    gap: 30px;
    padding: 50px 0;
    background-color: rgb(20, 31, 41);
    color: #eee;
}
.scoreboard {
    display: flex;
    gap: 50px;
}
.start-button {
    width: 100px;
    height: 30px;
    background-color: rgb(21, 206, 21);
    border: 2px solid rgb(218, 196, 196);
    border-radius: 6px;
}
.result {
    width: 120px;
    text-align: center;
    margin: 0;
}
#player-score, #computer-score {
    display: block;
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    margin: 30px 0;
}
.image {
    
    width: 200px;
    height: 200px;
}
.btn {
    background-color: rgba(185, 185, 185, 0.685);
    color: white;
    border: 2px solid rgb(80, 79, 79);
    border-radius: 10px;
}
.btn:hover {
    cursor: pointer;
    background-color: rgba(146, 146, 146, 0.884);
    transform: scale(1.1);
    border: 3px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.show-hide {
    visibility: hidden;
}