* {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    position: relative;
    background: linear-gradient(109.6deg, rgb(23, 30, 39) 11.2%, rgb(14, 33, 53) 51.2%, rgb(0, 0, 0) 98.6%);
    min-height: 100vh;
}
header {
    transform: translateY(40vh);
    color: #ddd;
    text-align: center;
    font-size: 86px;
    padding-top: 30px;
    animation-name: rise-up;
    animation-duration: 0.6s;
    animation-delay: 2.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.result-bar {
    display: grid;
    flex-direction: column;
    place-items: center;
    text-align: center;
    gap: 30px;
    padding: 40px 0;
    color: #eee;
    
}
.text-info {
    margin-top: 30px;
    margin-bottom: 20px;
    /* height: 250px; */
}
.scoreboard {
    display: flex;
    gap: 40px;
}
#showChoices {
    margin-bottom: 20px;

}

.fall-animation {
    animation-name: fall;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.expand-animation {
    opacity: 0;
    animation-name: expand;
    animation-duration: 1s;
    animation-delay: 1.1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.start-button {
    width: 200px;
    height: 100px;
    font-size: 40px;
    background-color: rgb(21, 206, 21);
    border: 2px solid rgb(218, 196, 196);
    border-radius: 6px;
    margin-top: 25px;
}
.start-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 2px solid white;
    box-shadow: 0 4px 8px 0px rgba(45, 255, 18, 0.384), 0 6px 20px 0 rgba(60, 255, 34, 0.514);
    font-weight: 700;
}
.score-text {
    font-size: 60px;
    margin-bottom: 20px;
}
.result {
    width: 250px;
    margin: 0;
}
.player {
    font-size: 50px;
}
.score {
    font-size: 70px;
}
#player-score, #computer-score {
    display: block;
    margin-top: 10px;
}

.buttons {
    background-color: rgba(41, 39, 39, 0);
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    padding: 50px 0 150px 0;
}
.choice {
    font-size: 120px;
    color: rgb(12, 219, 209);
    
}
.btn {
    position: relative;
    background: linear-gradient(to right, rgba(219,227,230,0.4), rgba(146, 160, 209, 0.4));
    color: white;
    border: 2px solid rgb(186, 206, 199);
    border-radius: 45px;
    width: 200px;
    height: 200px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(149, 155, 154, 0.959);
    transform: scale(1.1);
    border: 3px solid rgb(0, 237, 245);
    box-shadow: 0 4px 8px 0px rgba(33, 248, 248, 0.3), 0 6px 20px 0 rgba(4, 255, 234, 0.25);
}

.show-hide {
    display: none;
}

footer {
    text-align: center;
    color: rgb(162, 223, 243);
    font-size: 30px;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.rock {
    opacity: 0;
    display: inline-block;
    animation-name: slide-left;
    animation-duration: 0.6s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.paper {
    opacity: 0;
    display: inline-block;
    animation-name: drop;
    animation-duration: 0.6s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.scissors {
    opacity: 0;
    display: inline-block;
    animation-name: slide-right;
    animation-duration: 0.6s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.start-animation {
    /* visibility: hidden; */
    opacity: 0;
    animation-name: rise;
    animation-duration: 1.25s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes rise-up {
    0% {transform: translateY(40vh);}
    100% {transform: translateY(0);}
}
@keyframes rise {
    0% {transform: translateY(200%);
        opacity: 0;}
    
    100% {transform: translateY(0);
        opacity: 1;}
}
@keyframes slide-left {
    0% {transform: translateX(-200%);
        opacity: 0;}
    100% {transform: translateX(0);
        opacity: 1;}
}
@keyframes drop {
    0% {transform: translateY(-200%);
        opacity: 0;}
    100% {transform: translateY(0);
        opacity: 1;}
}
@keyframes slide-right {
    0% {transform: translateX(200%);
        opacity: 0;}
    100% {transform: translateX(0);
        opacity: 1;}
}

@keyframes fall {
    0% {transform: translateY(-100%);
        opacity: 0;}
    100% {transform: translateY(0);
        opacity: 1;}
}
@keyframes expand {
    0% {transform: scale(0);
        opacity: 0;}
    100% {transform: scale(1);
        opacity: 1;}
}
